.main_bar {
    display: flex;
    border-radius: 25px;
    overflow: hidden;
    justify-content: space-between;
    margin-top: 2rem;

}

.main_bar h1{
margin-left: 3rem;
margin-top: auto;
margin-bottom: auto;
}

.inner_bar {
    display:flex;
}

.inner_bar_link {
    background-color: gray;
    color: rgb(236, 241, 244);
    border: 1px solid gray;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 10px 5px 5px rgb(70, 68, 70);
    padding: 1rem;
    margin: 2rem;
}
